version: 2
jobs:
  build:
    machine:
      java:
        version: openjdk7
    steps:
      - checkout
      - run: ant test
      - run: mvn test
      - run: jar -cvf sample.war META-INF/ WEB-INF/ hello.jsp images/ index.html
      - store_artifacts:
          path: ./sample.war
      
    # machine:
    #   java:
    #     version: openjdk7
#     steps:
#       - checkout
#       - run: ant test
#   compile:
#     machine:
#       java:
#         version: openjdk7
#     steps:
#       - checkout
#       - run: jar -cvf sample.war META-INF/ WEB-INF/ hello.jsp images/ index.html
#       - store_artifacts:
#         path: ./sample.war
#   # services:
#   #   - docker

#   # dependencies:
#   #   override:
#   #     - docker info
#   #     - docker build --rm=false -t was-sample-app .
  

#   # compile:
#   #   override:
#   #     - jar -cvf sample.war META-INF/ WEB-INF/ hello.jsp images/ index.html
#   # jobs:


#   # deployment:
#   #   prod:
#   #     branch: master
#   #     commands:
#   #       - aws s3 sync sample.war s3://build-artifacts-java-aig-test/java-apps/ --delete